.Rproj.user
.Rhistory
.RData

data/classif_autodt_102d_95.arff
data/classif_svm_169d_95_average.arff
data/regr_all.arff
data/regr_single.arff

createAutoDTMetaBases.R
featselExploration.R

tests/
testing.R

*.RData
*.csv
*.txt
*.zip
*.log
*.sh
